*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 390;
    font-style: normal;
}

.header{
    display: flex;
    width: 100%;
    background-color: blue;
    border-bottom: 3px solid #adadad;
}

.header img{
    margin: 0 2rem;
    width: 100px;
    height: 100px;
}

.header h1{
    margin-top: 30px;
    color: #fff;
    text-transform: uppercase;
   
}

@media screen and (max-width:750px) {
    .header h1{
        font-size: 20px;
    }
}